export PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19nWkk5RE5VZGlOWnlnbzZtRW1WLWMiLCJhcGlfa2V5IjoiMDFLQThOOFNWWFE1WU1TV0RSOFJHMlFSNFIiLCJ0ZW5hbnRfaWQiOiI5OTNjZWE2NmM5MjNiNzE2NDc2MmI2YjFmZmE0YmQ1YWEwMTQxOGNiNzEzNWFkNDM4MWU5NmY5YzcyZGMyMGU3IiwiaW50ZXJuYWxfc2VjcmV0IjoiNDJhNmM3ZjktMDM5Zi00MTYxLWE4Y2UtMDlkNzcxODEyZDQwIn0.t5k7H3XuOYeMW9uKvKAE5g4j6-K-Bl8hsQ7fUN8DF4k"
export PRISMA_ACCELERATE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19zd3NLV3UzQlZfbGtESUIyaHFXM2ciLCJhcGlfa2V5IjoiMDFLQThSRjk2NUYyTkNCNjMzS1BYNEVOWlAiLCJ0ZW5hbnRfaWQiOiI5OTNjZWE2NmM5MjNiNzE2NDc2MmI2YjFmZmE0YmQ1YWEwMTQxOGNiNzEzNWFkNDM4MWU5NmY5YzcyZGMyMGU3IiwiaW50ZXJuYWxfc2VjcmV0IjoiNDJhNmM3ZjktMDM5Zi00MTYxLWE4Y2UtMDlkNzcxODEyZDQwIn0.wgxzk6fIyZD0GiDFDl2P8qlvv3N7riV1DJUgkJVmZKc"
